body{
  font-family: brandon-grotesque, sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #ffffff;

  background-color: #1F2223;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 15px;

  grid-template-areas:
        "title title"
        "main1 main1"
        "main2 main2"
        "main3 main3"
        "foot foot"
}
.main1,.main2,.main3,{
  transition: transform .2s;
}
.main1:hover, .main2:hover, .main3:hover{
  transform: scale(1.03);
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 410px;
  height: 200px; */
}

h1{
  font-weight: 400;
}

h2{
  font-weight: 300;
  text-align: center;
}

h3{
  text-align: center;
}

#APIbier, #APIeten{
  text-align: center;
}

#afb1{
  background-image: url('../image/eten.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#afb2{
  background-image: url('../image/bier1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.header{
  grid-area: title;
}

.main1{
  grid-area: main1;
}

.main2{
  grid-area: main2;
}

.main3{
  grid-area: main3;
}

#menu {
  grid-area: menu;
}


.foot {
  grid-area: foot;
}

/* iPad  ------------------------------------------------------------------------------------------------ */
@media all and (min-width: 654px) and (max-width: 1023px){

  body{
    font-size: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 15px;

    grid-template-areas:
          "title title"
          "main1 main1"
          "main2 main2"
          "main3 main3"
          "foot foot"
  }
}

/* Macbook ------------------------------------------------------------------------------------------------ */
@media all and (min-width: 1024px) and (max-width: 1598px){

  body{
    font-size: 23px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 15px;

    grid-template-areas:
          "title title"
          "main1 main1"
          "main2 main3"
          "foot foot"
  }

  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/* iMac ------------------------------------------------------------------------------------------------ */
@media all and (min-width: 1599px) {

  body{
    font-size: 23px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    max-width: 1920px;
    margin: 0 auto;

    grid-template-areas:
          "title title"
          "main1 main1"
          "main2 main3"
      }
}
